{%  extends "base.html" %}

{% load i18n wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-portfolioindexpage{% endblock %}

{%  block content %}
<main class="main">
    <div class="">
            <header class="site-head">
                <div id="fairy-name-box">
                    <h1><span class="h1-large">{{ page.title }}</span></h1>
                </div>
                <div id="fairy-title-box">
                    {% if '?' not in request.get_full_path %} <span id="fairy-title" class="text-2xl font-extrabold tracking-tight text-gray-00 ">{{ page.intro|richtext }}</span> {% else %}
                    <span class="block text-xl tracking-tight pt-6 pb-4 ">Selection of <button type="button" class="bg-secondary badge rounded-pill m-2"> <span class="text-xl text-white portfolio-filter-tag m-2"> {{ tag }} </span> </button> projects</span>
                    <a href="{{ page.url }}"><span>return to full portfolio >> </span></a>{% endif %}
                </div>
            </header>
    </div>
    <div class="">
        <div class="row pt-10">
            {%  for post in posts %}
            <div class="col-md-4">
                <div class="portfolio card">
                  <div class="image-wrapper">
                      {% image post.specific.client_logo width-520 %}
                  </div>
                  <div class="card-body">
                    <h3 class="card-title" >{{ post.specific.title }}</h3>
                    <h6 class="card-subtitle" >{{ post.specific.client_name }}</h6>
                      <div class="group mt-5" role="group" aria-label="{{ post }} links">
                          {% if post.specific.client_link %}<a href="{{ post.specific.client_link }}" class="nohover btn btn-outline-primary btn-sm">Client</a>{% endif %}
                          {% if post.specific.source_link %}<a href="{{ post.specific.source_link }}" class="nohover btn btn-outline-secondary btn-sm">Source</a>{% endif %}
                          {% if post.specific.project_link %}<a href="{{ post.specific.project_link }}" class="nohover btn btn-outline-success btn-sm">Project</a>{% endif %}
                      </div>
                      <p class="card-text ">
                          {%  if post.specific.end_date %}
                            <span class="text-indigo-600">{{ post.specific.start_date|date:"M Y"}}</span> - <span class="text-indigo-600" >{{ post.specific.end_date|date:"M Y"}}</span>
                          {% elif post.specific.current %}
                            <span class="text-indigo-600">{{ post.specific.start_date|date:"M Y"}}</span> - <span class="text-indigo-600">Current</span>
                          {% else %}
                            <span class="text-indigo-600">{{ post.specific.start_date|date:"M Y"}}</span>
                          {% endif %}
                      </p>
                    <p class="card-text">{{ post.specific.client_pos}}</p>
                    <p class="card-text">{{ post.specific.client_body|safe }}</p>
                  </div>
                    <div class="card-footer text-muted">
                        {% for tag in post.specific.tags.all %}
                            <a href="?tag={{ tag }}" class="badge badge-primary">{{ tag }}</a>
                        {% endfor %}
                      </div>
                </div>
            </div>
            {% endfor %}
          </div>
        <div class="container view-more">
            <span class="block text-2xl font-extrabold tracking-tight text-indigo-600">to view more of my work visit my <a href="">github.</a></span>
        </div>
    </div>
</main>
{% endblock %}