{% load i18n wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}

<main>
    <div class="container">
          <div class="row pt-10">
            <div class="col-sm">
              GlitterTech.dev
                <img id="me" class="shadow-2xl" src="{% static '/img/Djangogirls_cph19_small_BartPawlik-35.jpg' %}"/>
            </div>
            <div class="col-sm">
              At The Root
                <img id="me" class="shadow-2xl" src="{% static '/img/Djangogirls_cph19_small_BartPawlik-35.jpg' %}"/>
            </div>
            <div class="col-sm">
              Stoned Code Killer
                <img id="me" class="shadow-2xl" src="{% static '/img/Djangogirls_cph19_small_BartPawlik-35.jpg' %}"/>
            </div>
            <div class="col-sm">
              Rugby Street Designs
                <img id="me" class="shadow-2xl" src="{% static '/img/Djangogirls_cph19_small_BartPawlik-35.jpg' %}"/>
            </div>
          </div>
    </div>
</main>

