<div id="fixed" class="fixed inset-0 overflow-hidden">
  <div class="absolute inset-0 overflow-hidden">
    <div id="opaqueContainer" class="absolute inset-0" aria-hidden="true"></div>
    <section class="absolute inset-y-0 right-0 pl-10 max-w-full flex" aria-labelledby="slide-over-heading">
      <div id="mySidenav" class="relative w-screen max-w-md">
        <div class="absolute top-0 left-0 -ml-8 pt-4 pr-2 flex sm:-ml-10 sm:pr-4">
          <button onClick="closeNav(this)" class="rounded-md text-gray-300 hover:text-white focus:outline-none focus:ring-2 focus:ring-black">
            <span class="sr-only">Close panel</span>
            <!-- Heroicon name: x -->
            <svg class="egg h-6 w-6" fill="none" viewBox="2 2 18 28" stroke="black" height="40" width="40">
            <!--    <line id="l1" x1="0" y1="0" x2="20" y2="20" style="stroke:#000; stroke-width:2"></line>
                <line id="l2" x1="20" y1="0" x2="0" y2="20" style="stroke:#000; stroke-width:2"></line>-->
                <line id="l1" x1="0" y1="16" x2="20" y2="16" style="stroke:#000; stroke-width:2"></line>
                <line id="l2" x1="0" y1="16" x2="12" y2="24" style="stroke:#000; stroke-width:2"></line>
                <line id="l3" x1="0" y1="16" x2="12" y2="8" style="stroke:#000; stroke-width:2"></line>
            </svg>
          </button>
        </div>
        <div class="h-full flex flex-col py-6 bg-white shadow-xl overflow-y-scroll">
          <div class="mt-6 relative flex-1 px-4 sm:px-6">
            <!-- Replace with your content -->
            <div class="absolute inset-0 px-4 sm:px-6">
              <div class="h-full" aria-hidden="true">
                  <h1><span class="block text-indigo-600">DawnWages.info</span></h1>
                <ul class="list-group">
                  <li class="list-group-item">
                      <a href="/" class="link"> 🔮 Home</a>
                  </li>
                  <li class="list-group-item">
                      <a href="/apps" rel="noopener noreferrer"> 💣 Portfolio</a>
                  </li>
                  <li class="list-group-item">
                      <a href="/theo" rel="noopener noreferrer"> 🐶 My Dog Theo</a>
                  </li>

                  <li class="list-group-item">
                      <a href="https://twitter.com/DawnWagesSays" target="_blank" rel="noopener noreferrer"> <i class="fab fa-twitter"></i>Talks</a>
                  </li>
                <li class="list-group-item">
                    <a href="https://github.com/dawnwages" target="_blank" rel="noopener noreferrer"> <i class="fab fa-github"></i> Resume</a>
                </li>
                <li class="list-group-item">
                    <a href="https://github.com/dawnwages" target="_blank" rel="noopener noreferrer"> <i class="fab fa-github"></i> Calendar (coming soon)</a>
                </li>
                    <hr>
                <li class="list-group-item">
                      <a href="https://twitter.com/DawnWagesSays" target="_blank" rel="noopener noreferrer"> <i class="fab fa-twitter"></i> Twitter</a>
                  </li>
                  <li class="list-group-item">
                      <a href="https://www.linkedin.com/in/dawnwages" target="_blank" rel="noopener noreferrer"> <i class="fab fa-linkedin"></i> LinkedIn</a>
                  </li>
                <li class="list-group-item">
                    <a href="https://github.com/dawnwages" target="_blank" rel="noopener noreferrer"> <i class="fab fa-github"></i> github</a>
                </li>
                    <hr>
                <li class="list-group-item">
                    <a href="https://github.com/dawnwages" target="_blank" rel="noopener noreferrer"> <i class="fab fa-github"></i> GlitterTech.dev</a>
                </li>
                <li class="list-group-item">
                    <a href="https://github.com/dawnwages" target="_blank" rel="noopener noreferrer"> <i class="fab fa-github"></i> AtTheRoot.dev</a>
                </li>
                <li class="list-group-item">
                    <a href="https://github.com/dawnwages" target="_blank" rel="noopener noreferrer"> <i class="fab fa-github"></i> StonedCodeKiller.dev</a>
                </li>
                <li class="list-group-item">
                    <a href="https://github.com/dawnwages" target="_blank" rel="noopener noreferrer"> <i class="fab fa-github"></i> Rugby Street Consulting</a>
                </li>
                    <hr>
                <li class="list-group-item">
                    <a href="https://github.com/dawnwages" target="_blank" rel="noopener noreferrer"> <i class="fab fa-github"></i> Contact Me</a>
                </li>
                </ul>
              </div>
            </div>
            <!-- /End replace -->
          </div>
        </div>
      </div>
    </section>
    </div>
</div>