{% load wagtailcore_tags %}
{% load snippet_tags %}
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">dawnwages.info</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="title nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Projects
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/star-trek-themed-demos/">Star Trek Demos 🖖
              <p><small>Python demos with themes.</small></p>
              </a>
              </li>
            <li><a class="dropdown-item"  target="_blank" rel="noopener noreferrer" href="https://glittertech.dev">GlitterTech.dev ✨
            <p><small>Python and Web Co-op</small></p>
            </a>
            </li>
            <li><a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="https://attheroot.dev">AtTheRoot.dev ✊🏿
            <p><small>AntiRacist Ethical Source License</small></p>
            </a></li>
              <!--
            <li><a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="#">Stoned Code Killer 🌱
            <p><small>Blog for the intersection of cannabinoids and code.</small></p>
            </a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="#">Rugby Street Consulting</a></li>
            -->
          </ul>
        </li>
        <li class="title nav-item">
        {% downloadresume %}
        </li>
        {% for item in menu_items %}
            <li class="title {{ item.active_class }} {% if item.submenu %}dropdown{% endif %}">
            <a href="{{ item.href }}" class="nav-link {% if item.submenu %}dropdown-toggle{% endif %}" {% if item.submenu %}id="navbarDropdown-{{ item.text }}"{% endif %}>{{ item.text }}</a>
            {%  if item.submenu %}
                <ul class="sub-menu dropdown-menu" aria-labelledby="navbarDropdown-{{ item.text }}">
                    {%  for sub_item in item.sub_menu.items %}
                        <li class="dropdown-item {{ sub_item.active_class }}">
                            <a href="{{ sub_item.href }}">{{ sub_item.text }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            </li>
        {% endfor %}
      </ul>
        <ul class="icon-nav navbar-nav mb-2 mb-lg-0">
            <li class="title nav-item">
                <a href="mailto:dawn.wages@gmail.com?subject=Inquiry From Dawn Wages dot Info" target="_blank" rel="noopener noreferrer" class="nav-link"><i class="fas fa-paper-plane"></i></a>
            </li>
            <li class="title nav-item">
                <a href="https://twitter.com/DawnWagesSays" target="_blank" rel="noopener noreferrer" class="nav-link"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="title nav-item">
                <a href="https://github.com/DawnWages" target="_blank" rel="noopener noreferrer" class="nav-link"><i class="fas fa-code-branch"></i></a>
            </li>
            <li class="title nav-item">
                <a href="https://linkedin.com/in/DawnWages" target="_blank" rel="noopener noreferrer" class="nav-link"><i class="fab fa-linkedin-in"></i></a>
            </li>
            <li>
              <a rel="me" href="https://mastodon.online/@BajoranEngineer"><i class="fab fa-mastodon"></i></a>
            </li>
        </ul>
        <form class="d-flex search_form" action="{% url 'search' %}" method="get">
          <div class="input-group">
            <input type="text" placeholder="Search" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit" value="Search" class="button"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </form>
    </div>
  </div>
</nav>