
<nav class="row-full navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
        DawnWages.info</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% for item in menu_items %}
                <li class="{{ item.active_class }} nav-item{% if item.submenu %}dropdown{% endif %}">
                    <a href="{{ item.href }}" class="nav-link {% if item.submenu %}dropdown-toggle{% endif %}" {% if item.submenu %}id="navbarDropdown-{{ item.text }}"{% endif %}>{{ item.text }}</a>
                {%  if item.submenu %}
                    <ul class="sub-menu dropdown-menu" aria-labelledby="navbarDropdown-{{ item.text }}">
                        {%  for sub_item in item.sub_menu.items %}
                            <li class="dropdown-item {{ sub_item.active_class }}">
                                <a href="{{ sub_item.href }}">{{ sub_item.text }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                </li>
            {% endfor %}
      </ul>
        <!--
            <div class="header-link">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                  <label class="form-check-label" for="flexSwitchCheckDefault">dark mode</label>
                </div>
            </div>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>