.dockerignore
.idea/
.temp_cache/
db.sqlite3
node_modules/
venv/
myvenv/
build/
__pycache__
*.pyc
*.db
mediafiles/*
media/*
.env
staticfiles/*
./dawnwagesinfo/settings/local.py
*.dump
set-password.py

# dependencies
node_modules

# production
build

# misc
.DS_Store

npm-debug.log
yarn-error.log
yarn.lock
.yarnclean
.vscode
.idea
