// Make link
// Generate link hover, active and focus colors
// with consistnent shading

@mixin link-color($scheme, $color) {
  color: $color;

  @if $scheme == light {
    &:hover {
      color: shade-color($color, 20%);
    }

    &:focus,
    &:active {
      color: shade-color($color, 30%);
    }
  }

  @else {
    &:hover {
      color: tint-color($color, 20%);
    }

    &:focus,
    &:active {
      color: tint-color($color, 30%);
    }
  }
}

@mixin make-offset($color) {
  position: relative;
  transform-style: preserve-3d;
  border: $border;
  border-radius: $btn-border-radius;
  margin-left: 0.4rem;

  &::after {
    border-radius: $btn-border-radius;
    transform: translate3d(-0.5rem, -0.4rem, -($btn-offset));
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: -0.2rem;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    background-color: $color;
  }
}

@mixin offset-element() {
  position: relative;
  transform-style: preserve-3d;
  transform: translate3d(-6px, -6px, -($btn-offset));
  pointer-events: none;
  margin-left: -5px;
}

@mixin test($color) {
  * {
    background-color: rgba($color, 0.1);
  }
}

@mixin reset-gutter($gutter) {
  margin-left: -($gutter);
  margin-right: -($gutter);
}
