@media(max-width: $sm-breakpoint ){
  .h1-large {
    font-size: 2.5rem;
  }

  .h2-large {
    font-size: 1.5rem;
  }

  #me {
    width: 50vw;
  }

  #fairy-name-box{
    margin-top: 0;
  }
}

@media(max-width: $md-breakpoint){
    .navbar-nav.icon-nav {
    flex-direction: row;
    justify-content: space-evenly;

    .nav-item{
      margin: .5rem;
    }
  }
}