
@media (max-width: $sm-breakpoint) {
  .h1-large {
    font-size: 2.5rem;
  }

  .h2-large {
    font-size: 1.5rem;
  }

  #me {
    width: 50vw;
  }

  #fairy-name-box {
    margin-top: 0;
  }

  .d-flex {
    flex-direction: column;

    button {
      margin-top: 0.5rem;
    }
  }
}

@media (max-width: $md-breakpoint) {
  .navbar-nav.icon-nav {
    flex-direction: row;
    justify-content: space-evenly;

    .nav-item {
      margin: 0.5rem;
    }
  }

  .d-flex {
    justify-content: space-evenly;
  }
}

@media (max-width: 1299px) {
  .navbar-nav.icon-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
}

@media (max-width: 1299px) {
  .navbar-nav.icon-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
}

@media (max-width: 959px) {
  .img-section {
    padding: 0 !important;
  }

  .page-content {
    padding-left: 1.5rem !important;
  }

  .article-section > .row > .article {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-top: 0;
  }

  .img-responsive > img {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}

@media (max-width: 768px) {
  .blog-head h1 {
    font-size: 1.75rem;
  }

  .blog-main article.page-content {
    padding: 1.5rem;
  }

  .page-content h2.blog-heading {
    font-size: 1.5rem;
  }
}
