.view-more {
  margin-top: 3rem;
}

.badge {
  background-color: $gray__dark;
  border-radius: 0.25rem;
  text-decoration: none;
}

.badge:hover {
  color: white;
}

.image-wrapper {
  img {
    width: 100%;
    height: auto;
    padding: 0.5rem;
  }
}

.portfolio.card {
  margin-bottom: 2rem;
}
