.view-more {
  margin-top: 3rem;
}

.badge {
  background-color: $gray__dark;
  border-radius: 0.25rem;
  text-decoration: none;
}

.badge:hover {
  color: white;
}

.image-wrapper {

  &.icon-width{
    height: 100px;
  }

  &.icon-width>img{
    width: auto;
    padding: 0.5rem;
    display: block;
    max-height: 100%;
  }

  &.full-width {
    overflow: hidden;
    height: 170px;
  }

  &.full-width>img {
    max-height: 170px;
  }

  img {
    height: auto;
    width: auto;
    margin: auto;
  }
}

.portfolio.card {
  margin-bottom: 2rem;
}
