{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
<main>
       <div class="mt-5 container-fluid main-text">
    <h1>Search</h1>

    <form class="d-flex" action="{% url 'search' %}" method="get">
        <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit" value="Search"><i class="fa fa-search"></i></button>
        </span>
    </form>

    {% if search_results %}

            <ul class="mt-5">
                {% for result in search_results %}
                    <li>
                        <h4><a href="{% pageurl result %}">{{ result }}</a></h4>
                        {% if result.search_description %}
                            {{ result.search_description }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

            {% if search_results.has_previous %}
                <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
            {% endif %}

            {% if search_results.has_next %}
                <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
            {% endif %}
        {% elif search_query %}
            No results found
        {% endif %}
    </div>
</main>
{% endblock %}
