{% load static wagtailuserbar %}
{%  load menu_tags %}
{% load snippet_tags %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <link rel="favicon icon" type="image/png" href="{% static 'img/cartoonface.png' %}"/>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <!-- TODO: compile tailwind with webpack -->
        <link rel="stylesheet" type="text/css" href="{% static 'tailwind/styles.css' %}">

      <!--Important Font Awesome Icon-->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/v4-shims.css">
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>


    <body class="container-xl {% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
{% main_menu max_levels=3 template="home/side_nav.html"%}
        <div class="row">
            <header class="header">
                software engineer, consultant, conference speaker, #tech4good, #stacktivism
            <button id="side-nav" onClick="closeNav(this)" aria-label="toggle navigation" class="mt-12 rounded-md text-gray-300 hover:text-white focus:outline-none focus:ring-2 focus:ring-black">
                <span class="sr-only">Close panel</span>
                <!-- Heroicon name: x -->
                <svg id="svg-side-nav" class="h-12 w-12" fill="none" viewBox="2 2 18 28" stroke="grey" height="40" width="40">
                    <line id="l1" x1="0" y1="16" x2="20" y2="16" style="stroke: darkgrey; stroke-width: 2;"></line>
                    <line id="l2" x1="0" y1="24" x2="20" y2="24" style="stroke: darkgrey; stroke-width: 2;"></line>
                    <line id="l3" x1="0" y1="8" x2="20" y2="8" style="stroke: darkgrey; stroke-width: 2; display: inherit;"></line>
                </svg>
            </button>
            </header>
        </div>

        {% block content %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/dawnwagesinfo.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/build/bundle.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    <footer class="footer mt-10 pb-5 container" role="contentinfo">
        <div class="row"><h5>Selected Partnerships:</h5></div>
        <div class="footer-icons">

            {% projecticons %}
        </div>
    </footer>
    </body>
</html>
