{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <!-- TODO: compile tailwind with webpack -->
        <link rel="stylesheet" type="text/css" href="{% static 'tailwind/styles.css' %}">
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="container-fluid {% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        <header class="header">
          <div class="logo">
            <a href="http://dawnwages.info/">
                DawnWages.info
            </a>
          </div>
          <div class="header-link">
                software engineer, consultant, conference speaker, #tech4good, #stacktivism
          </div>
            <div class="header-link">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                  <label class="form-check-label" for="flexSwitchCheckDefault">dark mode</label>
                </div>
            </div>
        </header>

        {% include 'home/side_panel.html' %}
        {% block content %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/dawnwagesinfo.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/build/bundle.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
