#me {
  width: 20rem;
  border-radius: 50%;
}
.project-img{
  width: 60%;
  border-radius: 50%;
  margin: 0 auto;
}

/*
#fairy-name-box {
    background-color: var(--brand-color3);
    text-shadow: 2px 2px 8px rgba(0,0,0,.3);
    padding-bottom: 5px;
    width: 100%;
}

#fairy-name {
    font-size: 4.1em;
}

#fairy-title-box {
    background-color: var(--brand-color4);
    font-size: 2em;
    line-height: 100%;
    width: 100%;
}

#fairy-blurb-box {
    background-color: var(--brand-color5);
}
*/