* {
  color: #525252;
}

a {
 color: var(--bs-indigo) !important;
}

#me {
  width: 20rem;
  border-radius: 50%;
}
.project-img{
  width: 60%;
  border-radius: 50%;
  margin: 0 auto;
}

.card {
  position: inherit;
}

#mySidenav {
  width: 0vw;
}

.list-group-item {
  border: none !important;
}

#fairy-name-box {
  margin-top: 4rem;
}

.max-w-md {
    max-width: 26rem;
}

.fixed {
    position: fixed;
    z-index: -100;
}

 .row-full{
 width: 100vw;
 position: relative;
 margin-left: -50vw;
 left: 50%;
}

 nav {
   margin-top: 0;
    padding-left: 5vw;
    padding-right: 5vw;
   border-bottom: 1px solid #e6e6e6;   border-bottom: 1px solid #e6e6e6;
 }


.header {
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

/*
#fairy-name-box {
    background-color: var(--brand-color3);
    text-shadow: 2px 2px 8px rgba(0,0,0,.3);
    padding-bottom: 5px;
    width: 100%;
}

#fairy-name {
    font-size: 4.1em;
}

#fairy-title-box {
    background-color: var(--brand-color4);
    font-size: 2em;
    line-height: 100%;
    width: 100%;
}

#fairy-blurb-box {
    background-color: var(--brand-color5);
}
*/