* {
  color: #525252;
}

body {
  background-color: lightgrey;
}

a {
 color: rgba(79, 70, 229, 1) !important;
}

#me {
  width: 20rem;
  border-radius: 50%;
}
.project-img{
  width: 60%;
  border-radius: 50%;
  margin: 0 auto;
}

.navbar-brand{
  img {
    display: inline-flex;
  }
}

.card {
  position: inherit;
  min-height: 20rem;
}

.portfolio.card {
    min-height: 37rem;
    margin-top: 4rem;
}

.portfolio{
  & img{
      margin: auto;
  }
}

.image-wrapper {
  min-height: 11rem;
  padding: 1rem 2rem;
}

#mySidenav {
  width: 0vw;
  z-index: +10000;
}

.list-group-item {
  border: none !important;
}

#fairy-name-box {
  margin-top: 4rem;
}

.max-w-md {
    max-width: 26rem;
}

.main {
    padding: 40px 0;
    margin: 0 auto;
    text-align: center;
}

.main-text h1 {
    font-size: 22px;
}

.main-text p {
    margin: 15px auto 0;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #e6e6e6;
    padding: 10px;
}

.focus\:ring-black{
  --tw-ring-color: darkgrey !important;
}

 .row-full{
 width: 100vw;
 position: relative;
 margin-left: -50vw;
 left: 50%;
}

 nav {
   margin-top: 0;
    padding-left: 5vw;
    padding-right: 5vw;
   border-bottom: 1px solid #e6e6e6;   border-bottom: 1px solid #e6e6e6;
 }


.header {
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

footer {
  border-top: #cdcdcd solid 1px;
}

.footer-icons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-icon{
  margin: auto 2rem;
  filter: grayscale(100%);
  padding: 1rem 0;
  img {
    max-height: 3.5rem;
    width: auto;
  }
}

.project-icon:hover {
  filter: none!important;
}

#side-nav {
  background: white;
}

/*
#fairy-name-box {
    background-color: var(--brand-color3);
    text-shadow: 2px 2px 8px rgba(0,0,0,.3);
    padding-bottom: 5px;
    width: 100%;
}

#fairy-name {
    font-size: 4.1em;
}

#fairy-title-box {
    background-color: var(--brand-color4);
    font-size: 2em;
    line-height: 100%;
    width: 100%;
}

#fairy-blurb-box {
    background-color: var(--brand-color5);
}
*/

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

#side-nav{
  box-shadow: 0px 0px 9px 1px #4f46e54d;
  border: solid 1px grey;
}

/* The navigation menu links */
.sidenav a {
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidebar-badge {
  background-color: grey !important;
}

.sidebar-badge:hover {
  background-color: inherit !important;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

*::-webkit-scrollbar, #side-nav::-webkit-scrollbar {
  width: 1em;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

#sidenav::-webkit-scrollbar-track {
  background-color: transparent !important;
}

*::-webkit-scrollbar-thumb, #sidenav::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#side-nav {
    position: fixed;
  z-index: 100;
  right: 5rem;
    transition: 0.3s;
}

.btn-outline-secondary:hover {
  color: #fff !important;
}

.page-name {
  a {
    text-decoration: none !important;
  }
}
.fairy-title-box {
  a {
    text-decoration: none !important;
  }
}